.swal2-toast {
    font-size: 14px !important;
    padding: 10px 20px;
}
#loancomparisontable th.sorting::after,
#loancomparisontable th.sorting_asc::after,
#loancomparisontable th.sorting_desc::after,
#loancomparisontable th::before {
    display: none !important;
}
.leasingtable-reqbtn {
    background-color: #f8f9fa;
    border: 1px solid #000;
    color: #000;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}
.leasingtable-reqbtn:hover {
    background-color: black;
    color: #ffffff;
}
.sentence-block {
    background-color: #f9f9f9;
    border-left: 4px solid #007bff;
    border-right: 4px solid #007bff;
    padding: 10px;
    margin: 5% 0;
    border-radius: 5px;
}

.sentence {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.sentence-block p {
    margin: 0;
}

#totalpayablediv th {
    font-size: 12px;
}

#totalpayablediv td {
    font-size: 14px;
    font-weight: 600;
}

.table-bank-logo {
    width: 50%;
}
.table-bank-name {
    font-size: 15px;
}
.filter-section {
    width: 100%;
}
.typefilter {
    width: 100% !important;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
.lesingserach {
    color: #fff;
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.table-responsive {
    overflow-x: auto;
    overflow-y: hidden;
}
.bank-modal-logo {
    width: 30%;
}
.bank-modal-title {
    font-size: 20px;
    font-weight: 600;
}
.modal-body {
    padding: 0% 5%;
}
.form-select,
.form-control {
    border: 1px solid #000;
}
.form-select:focus,
.form-control:focus {
    background-color: #f0f0f0;
}
.navbar-stick:not(.navbar-dark) {
    box-shadow: 0rem 0rem 0.5rem rgba(11, 13, 15, 0.299);
    background: rgba(var(--bs-white-rgb), 0.97);
}
@media screen and (max-width: 768px) {
    .table-bank-logo {
        width: 100%;
    }
    .table-bank-name {
        font-size: 12px;
    }
    .leasingtable-reqbtn {
        font-size: 10px;
    }
    .modal-title {
        font-size: 16px;
    }
    .bank-modal-logo {
        width: 50%;
    }
    .bank-modal-title {
        font-size: 14px;
    }
    .sentence-block p {
        font-size: 12px;
    }
}
