.swal2-toast {
    font-size: 14px !important;
    padding: 10px 20px;
}
#loancomparisontable th.sorting::after,
#loancomparisontable th.sorting_asc::after,
#loancomparisontable th.sorting_desc::after,
#loancomparisontable th::before {
    display: none !important;
}
.leasingtable-reqbtn {
    background-color: #f8f9fa;
    border: 1px solid #000;
    color: #000;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}
.leasingtable-reqbtn:hover {
    background-color: black;
    color: #ffffff;
}
.sentence-block {
    background-color: #f9f9f9;
    border-left: 4px solid #007bff;
    border-right: 4px solid #007bff;
    padding: 10px;
    margin: 5% 0;
    border-radius: 5px;
}

.sentence {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.sentence-block p {
    margin: 0;
}

#totalpayablediv th {
    font-size: 12px;
}

#totalpayablediv td {
    font-size: 14px;
    font-weight: 600;
}

.table-bank-logo {
    width: 50%;
}
.table-bank-name {
    font-size: 15px;
}
.filter-section {
    width: 100%;
}
.typefilter {
    width: 100% !important;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
.filter-container {
    width: 30% !important;
}
.lesingserach {
    color: #fff;
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.table-responsive {
    overflow-x: auto;
    overflow-y: hidden;
}
.bank-modal-logo {
    width: 30%;
}
.bank-modal-title {
    font-size: 20px;
    font-weight: 600;
}
.modal-body {
    padding: 0% 5%;
}
.form-select,
.form-control {
    border: 1px solid #000;
    color: #000 !important;
}
.form-select:focus,
.form-control:focus {
    border: 1px solid #72e0fc;
}
.navbar-stick:not(.navbar-dark) {
    box-shadow: 0rem 0rem 0.5rem rgba(11, 13, 15, 0.299);
    background: rgba(var(--bs-white-rgb), 0.97);
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-container .currency {
    position: absolute;
    left: 10px;
    color: #333;
    font-size: 14px;
    pointer-events: none;
}

.input-container input {
    padding: 0.6rem 2rem;
    border: 1px solid #000;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 0.4rem;
}

.input-container .percentage {
    position: absolute;
    right: 10px;
    color: #333;
    font-size: 14px;
    pointer-events: none;
}

/* Define a class to show the phone number */
.show-phone {
    display: block !important;
}

/* Default hidden state */
#phone-number-container {
    display: none;
}

.custom-btn {
    width: 95%;
}

.footer-margins {
    margin-bottom: 2%;
    margin-top: 10%;
}

.download-img {
    transition: ease-in-out 0.3s;
}

.download-img:hover {
    transform: scale(1.1);
}

.text-reset a:hover {
    color: white !important;
}
.floating-button-new {
    position: fixed;
    bottom: 15%;
    right: 10px;
    z-index: 1000;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border: none;
    width: 5%;
    cursor: pointer;
}

.mobile-bottom-nav {
    display: none;
}

.input-container .currencynew {
    position: absolute;
    left: 84%;
    color: #333;
    font-size: 14px;
    pointer-events: none;
    top: 20px;
}

.top-button-container {
    width: 500px;
}

#applyNowModal .modal-header {
    padding: 3rem 1.5rem 1rem 1.5rem;
}

.askforleasbtn {
    background-color: white;
    color: var(--bs-primary);
    border: 1px solid var(--bs-primary);
    padding: 5px 10px;
    border-radius: 10px;
}

.blog-container {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.blog-image-container {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.blog-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.blog-content {
    padding: 15px;
    font-family: "Arial", sans-serif;
    color: #333;
}

.published-date {
    font-size: 14px;
    color: #777;
}

.category-link {
    font-size: 16px;
    font-weight: 600;
    color: var(--bs-primary);
    text-decoration: none;
    align-items: center;
}

.category-link i {
    font-size: 14px;
    color: var(--bs-primary);
}

.category-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.costresult_t {
    font-size: 22px;
    font-weight: 600;
}

.genbox_p {
    font-size: 16px;
    font-weight: 600;
}

.genbox_lable {
    font-size: 14px;
    font-weight: 400;
}

.pdfcard_p {
    font-size: 16px !important;
    font-weight: 600 !important;
}
.pdfcard_a {
    font-size: 14px !important;
}

.card-img-top {
    width: 120px;
    object-fit: cover;
}
.custom-btn2 {
    background-color: var(--bs-primary);
    color: white;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 14px;
    transition: background 0.3s ease-in-out;
}

.custom-btn2:hover {
    background-color: #b71c1c;
    color: white;
}

.custom-btn2 i {
    margin-right: 5px;
}

@media screen and (max-width: 1400px) {
    .pdfcard_p {
        font-size: 13px !important;
        font-weight: 600 !important;
    }
    .pdfcard_a {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 1192px) {
    .filter-container {
        width: 45% !important;
    }
    .floating-button-new {
        width: 6%;
    }
}

@media screen and (max-width: 991.5px) {
    .footer-margins {
        margin-top: 20%;
    }
    .floating-button-new {
        width: 9%;
    }
    .navbar-expand-lg .navbar-brand {
        padding-top: 0.3rem !important;
        padding-bottom: 0.3rem !important;
    }
    .mobile-bottom-nav {
        display: block;
    }
    .mobile-bottom-nav {
        display: block;
        position: fixed;
        bottom: 0;
        background-color: white;
        width: 100%;
        z-index: 1000;
    }

    .mobile-bottom-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        border-top: 1px solid #ddd;
        z-index: 1000;
        border-radius: 20px 20px 0 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 8px;
        box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    }

    .mobile-bottom-nav .nav-link {
        text-align: center;
        flex-grow: 1;
        text-decoration: none;
        color: #333;
        font-size: 14px;
    }

    .mobile-bottom-nav .nav-link i {
        font-size: 20px;
        display: block;
        margin-bottom: 0px;
        color: #555;
    }

    .mobile-bottom-nav .nav-link span {
        font-size: 12px;
        color: #777;
    }

    .mobile-bottom-nav .nav-link.active span {
        color: #ffaa0b !important;
    }

    .mobile-bottom-nav .nav-link.active i {
        color: #ffaa0b;
    }
}

@media screen and (max-width: 768px) {
    .input-container .currencynew {
        left: 90%;
    }
    .filter-container {
        width: 100% !important;
    }
    .footer-margins {
        margin-bottom: -10%;
        margin-top: 25%;
    }
    .table-bank-logo {
        width: 100%;
    }
    .table-bank-name {
        font-size: 12px;
    }
    .leasingtable-reqbtn {
        font-size: 10px;
    }
    .modal-title {
        font-size: 16px;
    }
    .bank-modal-logo {
        width: 50%;
    }
    .bank-modal-title {
        font-size: 14px;
    }
    .sentence-block p {
        font-size: 12px;
    }
    .floating-button-new {
        width: 12%;
    }
}

@media screen and (max-width: 768px) {
    .footer-margins {
        margin-top: 35%;
    }
}
@media screen and (max-width: 576px) {
    .display-1 {
        font-size: 1.5rem !important;
    }
    .lead {
        font-size: 0.675rem !important;
    }
    .card-header {
        padding: 0.5rem 1rem !important;
    }
    .card-body {
        padding: 0.5rem 1rem !important;
    }
    .cal-font {
        font-size: 0.8rem !important;
    }
    .custom-btn {
        width: 100%;
    }
    .floating-button-new {
        width: 15%;
    }
    .top-button-container {
        width: 100%;
    }
}

@media screen and (max-width: 475px) {
    .floating-button-new {
        width: 20%;
    }
    .footer-main-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 425px) {
    .costresult_t {
        font-size: 18px;
    }
    .genbox_p {
        font-size: 14px;
    }
    .genbox_lable {
        font-size: 12px;
    }
    .pdfcard_p {
        font-size: 14px !important;
    }
    .pdfcard_a {
        font-size: 12px !important;
    }
}
@media screen and (max-width: 395px) {
    .footer-margins {
        margin-top: 45%;
    }
    .floating-button-new {
        width: 20%;
    }
}
